
 <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
<div class="col-lg-6 mb-5 mb-lg-0 position-relative" style="z-index: 10">
    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

    <div class="card bg-glass">
      <div class="card-body px-4 py-5 px-md-5">
        <form [formGroup]="resetForm" method="post" action="/home" (ngSubmit)="resetSubmit()">

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" placeholder="Enter Your Email" class="form-control"  formControlName="email">
            <span *ngIf="f['email'].touched">
              <label for="" class="text-danger" *ngIf="f['email'].errors?.['required']">*Required</label>
              <label for="" class="text-danger" *ngIf="f['email'].errors?.['pattern']">Pattern is not followed</label>
            </span>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form3Example4" [hidden]="!f['email'].valid" class="form-control" placeholder="New Password" formControlName="pass">
            <span *ngIf="f['pass'].touched">
              <label for="" class="text-danger" *ngIf="f['pass'].errors?.['required']">*Required</label>
            </span>
          </div>

          <a class="d-flex justify-content-end" href="/user/login">
            Login Screen?
          </a>
          <!-- Submit button -->
          <button type="submit" [disabled]="!this.resetForm.valid" class="btn btn-primary btn-block w-100 mb-4">
            Reset My Password
          </button>

        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
      Couldn't remember<br />
      <span style="color: hsl(218, 81%, 75%)">Password? </span>
    </h1>
    <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Temporibus, expedita iusto veniam atque, magni tempora mollitia
      dolorum consequatur nulla, neque debitis eos reprehenderit quasi
      ab ipsum nisi dolorem modi. Quos?
    </p>
  </div>
  </div></div>