<section id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active carousel_images">
            <img src="../../../assets/1.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-block">
                <h5>Space Stars</h5>
                <p>
                    This picture show the beautiful stars in the Galaxy
                </p>
            </div>
        </div>
        <div class="carousel-item carousel_images">
            <img src="../../../assets/2.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-block">
                <h5>Brick Wall</h5>
                <p>
                    When you hit a wall focus on Brick.
                </p>
            </div>
        </div>
        <div class="carousel-item carousel_images">
            <img src="../../../assets/3.png" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-block">
                <h5>Peace</h5>
                <p>
                    Don't Let the behaviour of other distroy the inner Peace
                </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</section>

<section class="CardS container-fluid row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <img src="../../../assets/4.jpeg" class="card-img-top h-25" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up
                    the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <img src="../../../assets/5.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up
                    the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <img src="../../../assets/6.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up
                    the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</section>