.gradient-custom {
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.back-icon {
  position: absolute;
  left: 0%;
  position: absolute;
  transition-property: height, width;
  transition-duration: 1s, 1s;
  transition-timing-function: ease-in;
  border-radius: 5px;
  opacity: 0.4;
  width: 40px;
  height: 40px;
}

.back-icon:hover {
  opacity: 1;
//   background: #1ec7e6;
  width: 70px;
  height: 70px;
  font-size: 35px;
    
}
.background-back{
    position: absolute;
  top: 0%;
  left: 0%;
  position: absolute;
  transition-property: height, width;
  transition-duration: 1s, 1s;
  transition-timing-function: ease-in;
  border-radius: 5px;
  opacity: 0.4;
  width: 40px;
  height: 40px;
}
.background-back:hover {
    opacity: 1;
  //   background: #1ec7e6;
    width: 33%;
    height: 99%;
    opacity: 0.6;
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    font-size: 35px;
      
  }