/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

.carousel_images img {
    height: 500px;
    object-fit: cover;
}

header img {
    height: 128px;
    object-fit: cover;
}

header {
    background-color: darkorchid;
}